<h1 mat-dialog-title>{{isDetailMode ? 'Detail' : 'Update'}}</h1>
<div mat-dialog-content>
  <form [formGroup]='formControls' >
    <div>
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput formControlName='title'>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput formControlName='description'>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Creator</mat-label>
        <input matInput formControlName='creator'>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Location</mat-label>
        <input matInput formControlName='location'>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Time Start</mat-label>
        <input matInput [matDatepicker]='picker' formControlName='timeStart'>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Time End</mat-label>
        <input matInput [matDatepicker]='picker2' formControlName='timeEnd'>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button *ngIf="isEditMode" (click)='onSubmit()' cdkFocusInitial>Submit</button>
</div>

