<button mat-raised-button color="primary" (click)="onBack()">Back</button>
<ng-container *ngIf="(hasData$ | async); else add">
  <ng-container *ngTemplateOutlet='viewAndEdit'></ng-container>
</ng-container>

<ng-template #viewAndEdit>
  <mat-tab-group mat-align-tabs="end">
    <mat-tab label="Edit">
      <app-data-form [task]='task$ | async'></app-data-form>
    </mat-tab>
    <mat-tab label="View">
      <app-view-detail [task]='task$ |async'></app-view-detail>
    </mat-tab>
  </mat-tab-group>
</ng-template>

<ng-template #add>
  <mat-tab-group mat-align-tabs="end">
    <mat-tab label="Add">
      <app-data-form></app-data-form>
    </mat-tab>
  </mat-tab-group>
</ng-template>