<div class="container flex">
  <div class="p-2 border task-container">
    <div class="flex items-center justify-around title new">
      <h2>New Tasks</h2>
      <button mat-raised-button color="primary" (click)="onAddTask()">Add</button>
    </div>
    <div cdkDropList #newList="cdkDropList" [cdkDropListData]="newL" [cdkDropListConnectedTo]="[doneList, progressList]"
      class="task-list" (cdkDropListDropped)="drop($event)">
      <div class="task-box" *ngFor="let item of newL" (cdkDragStarted)="handleDragStart($event)"
        (click)="handleClick(item)" cdkDrag>{{item.title}}</div>
    </div>
  </div>
  <div class="p-2 border task-container">
    <h2 class="title progress">Tasks in progress</h2>
    <div cdkDropList #progressList="cdkDropList" [cdkDropListData]="progress"
      [cdkDropListConnectedTo]="[newList, doneList]" class="task-list" (cdkDropListDropped)="drop($event)">
      <div class="task-box" *ngFor="let item of progress" (cdkDragStarted)="handleDragStart($event)"
        (click)="handleClick(item)" cdkDrag>{{item.title}}</div>
    </div>
  </div>
  <div class="p-2 border task-container">
    <h2 class="title done">Tasks got done</h2>
    <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[newList, progressList]"
      class="task-list" (cdkDropListDropped)="drop($event)">
      <div class="task-box" *ngFor="let item of done" (cdkDragStarted)="handleDragStart($event)"
        (click)="handleClick(item)" cdkDrag>{{item.title}}</div>
    </div>
  </div>
</div>