<div mat-dialog-content [formGroup]="formControls" class="block p-4 border rounded card">
  <div class="flex flex-col justify-center">
    <div *ngIf="!editMode" class="flex items-center justify-center p-2">
      <mat-icon>account_circle</mat-icon>
      <span class="mx-2">{{user.name}}</span>
    </div>
    <div class="p-2">
      <input *ngIf="editMode" formControlName='name' class="w-full p-2 border rounded">
    </div>
    <div *ngIf="formControls.get('name')?.errors?.required" class="p-3 text-xs italic text-red-600 bg-red-200">
      You need to enter a name
    </div>
  </div>

  <img width="100px" src="../../../../assets/avatar_placeholder.png" class="avatar" />

  <div class="flex flex-col items-center justify-center m-3">
    <div *ngIf="!editMode">{{user.role}}</div>
    <div class="w-full">
      <input *ngIf="editMode" formControlName='role' class="w-full p-2 border rounded">
    </div>
  </div>

  <div mat-dialog-actions class="flex justify-center m-3 space-x-2">
    <button mat-raised-button color='primary'  *ngIf="editMode" (click)='onCancel()'>Cancel</button>
    <button mat-raised-button color='primary' *ngIf="!editMode" (click)='toggleEditMode()'>Edit</button>
    <button mat-raised-button color='primary' *ngIf="editMode" (click)='onUpdate()'>Update</button>
    <button mat-raised-button color='warn' (click)='onDelete()'>Remove</button>
  </div>
</div>

