:host{
  padding: 0;
  margin: 0;
  display: block;
  width: 310px;
  height: fit-content;
}

.card{
  margin: 15px;
  display: block;
  height: 300px;
}


.avatar{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}