<h1 mat-dialog-title>Create new user</h1>
<div mat-dialog-content [formGroup]="formControl" class="form-group">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName='name'>
    <mat-error *ngIf="formControl.get('name')?.errors?.required">
      You need to enter Name
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Role</mat-label>
    <input matInput formControlName='role'>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)='onSubmit()' cdkFocusInitial>Submit</button>
</div>
